<template>
  <q-page class="column fit no-wrap">
    <!-- App bar -->
    <Portal to="windowTitle">
      {{ serversStore.currentServer?.name }} > Files
    </Portal>

    <!-- Content -->
    <FilesNavigation
      :currentPath="currentPath"
      @navigateToHome="navigateToHome"
      @navigateTo="navigateTo"
    />
    <FilesLoadingSkeleton v-if="filesStore.loading" />
    <EmptySpace
      v-else-if="error"
      label="Une erreur est survenue"
      icon="error"
      style="color: var(--q-negative)"
    />
    <FilesList v-else :currentPath="currentPath" @fileClicked="fileClicked" />
  </q-page>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';
import { useQuasar } from 'quasar';

import { useFilesStore } from 'stores/files';
import { useServersStore } from 'stores/servers';

import FilesList from 'components/FilesList.vue';
import EmptySpace from 'components/EmptySpace.vue';
import FilesNavigation from 'components/FilesNavigation.vue';
import FilesLoadingSkeleton from 'components/FilesLoadingSkeleton.vue';
import { notifyError, notifySuccess } from 'components/notifications';

import { isDirectory, runFile, File } from 'src/fluidnc/files';

const error = ref(false);
const currentPath = ref('/');

const $q = useQuasar();
const filesStore = useFilesStore();
const serversStore = useServersStore();

onMounted(() => {
  navigateTo(currentPath.value);
});

const navigateTo = (fullPath: string) => {
  error.value = false;
  currentPath.value = fullPath;
  filesStore.fetchFilesIfNeeded(currentPath.value).catch((err) => {
    notifyError('Error listing files', err);
    error.value = true;
  });
};

const navigateToHome = () => navigateTo('/');

const navigateToChild = (name: string) => {
  if (currentPath.value === '/') navigateTo(`${currentPath.value}${name}`);
  else navigateTo(`${currentPath.value}/${name}`);
};

const navigateToParent = () => {
  if (currentPath.value === '/') return;
  const tmp = currentPath.value.split('/').slice(0, -1).join('/');
  navigateTo(tmp === '' ? '/' : tmp);
};

const fileClicked = (file: File) => {
  if (!isDirectory(file)) confirmRunFile(file);
  else if (file.name === '..') navigateToParent();
  else navigateToChild(file.name);
};

const confirmRunFile = (file: File) => {
  $q.dialog({
    title: 'Confirm',
    message: `Would you like to run ${file.name} ?`,
    cancel: true,
  }).onOk(() => {
    runFile(file)
      .then(() => notifySuccess(`Running file '${file.name}'...`))
      .catch((err) => notifyError('Error executing file', err));
  });
};
</script>
