<template>
  <q-page class="column justify-center fit no-wrap no-scroll">
    <!-- App bar -->
    <Portal to="windowTitle">
      {{ serversStore.currentServer?.name }} > Jog
    </Portal>
    <Portal to="toolbar">
      <q-btn
        flat
        round
        icon="speed"
        :disable="!statusStore.connected"
        @click="openSpeedDialog"
      />
    </Portal>

    <!-- Controls -->
    <JogDisplay class="q-mb-xl" />
    <JogController :distance="distance" />
    <JogDistance v-model="distance" class="q-mt-xl" />
    <JogMacros class="q-mt-xl" />
  </q-page>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';
import { useQuasar } from 'quasar';

import { useStatusStore } from 'stores/status';
import { useServersStore } from 'stores/servers';

import JogMacros from 'components/JogMacros.vue';
import JogDistance from 'components/JogDistance.vue';
import JogController from 'components/JogController.vue';
import JogDisplay from 'components/JogDisplay.vue';
import JogSpeedDialog from 'components/JogSpeedDialog.vue';
import { notifyWarning } from 'components/notifications';

const $q = useQuasar();
const serversStore = useServersStore();
const statusStore = useStatusStore();

const distance = ref(0);

const openSpeedDialog = () => $q.dialog({ component: JogSpeedDialog });

onMounted(() => {
  // TODO also watch for dynamic server change
  if (!serversStore.currentServer?.speed) {
    notifyWarning('Speed not yet configured, please set speeds');
    openSpeedDialog();
  }
});
</script>
