<template>
  <q-page class="column fit no-wrap q-pt-md q-px-md">
    <!-- App bar -->
    <Portal to="windowTitle">Liste des serveurs</Portal>

    <!-- Empty -->
    <EmptySpace v-if="!hasServers" label="Enregister un premier serveur">
      <q-btn fab icon="add" size="xl" color="accent" @click="newServer" />
    </EmptySpace>

    <!-- List -->
    <div v-else class="row q-col-gutter-md">
      <div
        v-for="server in serversStore.serversList"
        :key="server.id"
        class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
      >
        <ServersCard
          :server="server"
          v-ripple
          @click="serversStore.setCurrentServer(server)"
        />
      </div>
    </div>

    <!-- FAB -->
    <q-page-sticky v-if="hasServers" position="bottom-right" :offset="[18, 18]">
      <q-btn fab icon="add" color="accent" @click="newServer" />
    </q-page-sticky>
  </q-page>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useQuasar } from 'quasar';

import { useServersStore } from 'stores/servers';

import EmptySpace from 'components/EmptySpace.vue';
import ServersCard from 'components/ServersCard.vue';
import ServersEditDialog from 'components/ServersEditDialog.vue';
import { notifySuccess } from 'components/notifications';

const $q = useQuasar();
const serversStore = useServersStore();

const hasServers = computed(() => serversStore.serversList.length !== 0);

const newServer = () => {
  $q.dialog({
    component: ServersEditDialog,
  }).onOk(() => {
    notifySuccess('New server created');
  });
};
</script>
