<template>
  <div class="fit grow column justify-center items-center">
    <div class="text-h3 text-center q-mb-xl">{{ props.label }}</div>
    <slot>
      <q-icon v-if="props.icon" :name="props.icon" size="xl" />
    </slot>
  </div>
</template>

<script setup lang="ts">
interface Props {
  label: string;
  icon?: string;
}

const props = defineProps<Props>();
</script>
