<template>
  <div class="row no-wrap items-center q-mt-xs q-pa-xs">
    <!-- Navigation -->
    <q-btn
      flat
      round
      icon="home"
      color="accent"
      :disabled="navigationDisabled"
      @click="emit('navigateToHome')"
    />
    <q-btn
      flat
      round
      icon="refresh"
      color="accent"
      :disabled="navigationDisabled"
      @click="emit('navigateTo', currentPath)"
    />

    <!-- Filesystem Status -->
    <q-linear-progress
      stripe
      size="3ex"
      class="grow q-ml-sm"
      color="secondary"
      :value="parseInt(filesStore.status?.occupation || '20')"
    >
      <div class="absolute-full flex flex-center">
        <q-badge color="white" text-color="primary" :label="usageLabel" />
      </div>
    </q-linear-progress>
  </div>
</template>

<script setup lang="ts">
import { computed, toRefs } from 'vue';

import { useFilesStore } from 'stores/files';
import { useStatusStore } from 'stores/status';

interface Props {
  currentPath: string;
}

const props = defineProps<Props>();
const { currentPath } = toRefs(props);

const emit = defineEmits<{
  (e: 'navigateToHome'): void;
  (e: 'navigateTo', path: string): void;
}>();

const statusStore = useStatusStore();
const filesStore = useFilesStore();

const navigationDisabled = computed(
  () => !statusStore.connected || filesStore.loading
);

const usageLabel = computed(() => {
  if (!filesStore.status?.used || !filesStore.status.total) return 'n/a';
  else return `${filesStore.status.used} / ${filesStore.status.total}`;
});
</script>
