<template>
  <q-list bordered class="grow">
    <q-item-label header>{{ currentPath }}</q-item-label>
    <q-item
      ripple
      clickable
      v-for="file in files"
      :key="file.name"
      @click="emit('fileClicked', file)"
    >
      <q-item-section avatar>
        <q-icon color="secondary" :name="file.icon" />
      </q-item-section>

      <q-item-section>
        <q-item-label>{{ file.name }}</q-item-label>
        <q-item-label caption v-if="!file.isDirectory">
          {{ file.size }}
        </q-item-label>
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script setup lang="ts">
import { computed, toRefs } from 'vue';

import { useFilesStore } from 'stores/files';

import { File, isDirectory } from 'src/fluidnc/files';

interface Props {
  currentPath: string;
}

const props = defineProps<Props>();
const { currentPath } = toRefs(props);

const emit = defineEmits<{
  (e: 'fileClicked', file: File): void;
}>();

const filesStore = useFilesStore();

const files = computed(() => {
  if (!filesStore.files[currentPath.value]) return [];

  // Cache some information
  const list = filesStore.files[currentPath.value].map((file) => ({
    ...file,
    isDirectory: isDirectory(file),
    icon: isDirectory(file) ? 'folder' : 'description',
  }));

  // Add `..` for navigation to parent
  if (currentPath.value !== '/')
    list.unshift({
      name: '..',
      shortname: '..',
      size: '-1',
      datetime: '',
      fullPath: '',
      isDirectory: true,
      icon: 'arrow_circle_up',
    });

  return list;
});
</script>
