<template>
  <q-linear-progress query color="secondary" />
  <q-list bordered class="grow">
    <q-item v-for="i in 3" :key="i">
      <q-item-section avatar>
        <q-skeleton type="circle" />
      </q-item-section>

      <q-item-section>
        <q-item-label>
          <q-skeleton type="text" />
        </q-item-label>
        <q-item-label caption>
          <q-skeleton type="text" width="65%" />
        </q-item-label>
      </q-item-section>
    </q-item>
  </q-list>
</template>
