<template>
  <q-card style="width: 66vw">
    <q-form autofocus @submit="$attrs['onSubmit']">
      <q-card-section>
        <div class="text-h6">{{ title }}</div>
      </q-card-section>

      <q-card-section>
        <slot></slot>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn flat v-close-popup :disabled="props.cancelDisabled">
          Annuler
        </q-btn>
        <q-btn flat type="submit">Sauvegarder</q-btn>
      </q-card-actions>
    </q-form>
  </q-card>
</template>

<script setup lang="ts">
interface Props {
  title: string;
  cancelDisabled?: boolean;
}
const props = withDefaults(defineProps<Props>(), {
  cancelDisabled: false,
});
</script>
