<template>
  <q-btn
    v-haptic
    ref="button"
    round
    color="secondary"
    class="col-2"
    :size="`${height / 3}px`"
    style="max-width: 10vh"
  >
    <slot></slot>
  </q-btn>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useResizeObserver } from '@vueuse/core';

import { vHaptic } from './Directives';

const height = ref(0);

const button = ref();
useResizeObserver(button, (entries) => {
  const entry = entries[0];
  const { width } = entry.contentRect;
  height.value = width;
});
</script>
