<template>
  <div
    v-for="(rowActions, idx) in actions"
    :key="idx"
    class="row full-width no-wrap justify-evenly q-my-md"
  >
    <JogBtn
      :disable="!statusStore.connected"
      :icon="rowActions[0].icon"
      @click="executeMotion(rowActions[0].fn)"
    />
    <JogBtn
      :disable="!statusStore.connected"
      :icon="rowActions[1].icon"
      @click="executeMotion(rowActions[1].fn)"
    />
    <JogBtn
      :disable="!statusStore.connected"
      :icon="rowActions[2].icon"
      @click="executeMotion(rowActions[2].fn)"
    />
    <div />
    <JogBtn
      :disable="!statusStore.connected"
      :icon="rowActions[3].icon"
      @click="executeMotion(rowActions[3].fn)"
    />
  </div>
</template>

<script setup lang="ts">
import { toRefs } from 'vue';

import { useStatusStore } from 'stores/status';

import JogBtn from 'components/JogButton.vue';
import { notifyError, notifySuccess } from 'components/notifications';

import { homing, homingByAxis, jogXY, jogZ } from 'src/fluidnc/motion';

interface Props {
  distance: number;
}

const props = defineProps<Props>();
const { distance } = toRefs(props);

const statusStore = useStatusStore();

const executeMotion = async (motion: () => Promise<void>) => {
  motion()
    .then(() => notifySuccess('Motion sent'))
    .catch((err) => notifyError('Error sending motion', err));
};

const moveNorth = () => jogXY(undefined, 1 * distance.value);
const moveSouth = () => jogXY(undefined, -1 * distance.value);
const moveEast = () => jogXY(1 * distance.value, undefined);
const moveWest = () => jogXY(-1 * distance.value, undefined);
const moveNorthEast = () => jogXY(1 * distance.value, 1 * distance.value);
const moveNorthWest = () => jogXY(-1 * distance.value, 1 * distance.value);
const moveSouthEast = () => jogXY(1 * distance.value, -1 * distance.value);
const moveSouthWest = () => jogXY(-1 * distance.value, -1 * distance.value);
const moveUp = () => jogZ(1 * distance.value);
const moveDown = () => jogZ(-1 * distance.value);

const actions = [
  [
    { icon: 'north_west', fn: moveNorthWest },
    { icon: 'north', fn: moveNorth },
    { icon: 'north_east', fn: moveNorthEast },
    { icon: 'north', fn: moveUp },
  ],
  [
    { icon: 'west', fn: moveWest },
    { icon: 'home', fn: () => homing() },
    { icon: 'east', fn: moveEast },
    { icon: 'home', fn: () => homingByAxis('Z') },
  ],
  [
    { icon: 'south_west', fn: moveSouthWest },
    { icon: 'south', fn: moveSouth },
    { icon: 'south_east', fn: moveSouthEast },
    { icon: 'south', fn: moveDown },
  ],
];
</script>
