<template>
  <div class="row full-width no-wrap justify-evenly">
    <q-input outlined readonly label="X" :modelValue="statusStore.position.x" />
    <q-input outlined readonly label="Y" :modelValue="statusStore.position.y" />
    <q-input outlined readonly label="Z" :modelValue="statusStore.position.z" />
    <q-input
      outlined
      readonly
      label="Speed XY"
      :modelValue="serversStore.currentServer?.speed?.speedXY || 'n/a'"
    />
    <q-input
      outlined
      readonly
      label="Speed Z"
      :modelValue="serversStore.currentServer?.speed?.speedZ || 'n/a'"
    />
  </div>
</template>

<script setup lang="ts">
import { useStatusStore } from 'stores/status';
import { useServersStore } from 'stores/servers';

const statusStore = useStatusStore();
const serversStore = useServersStore();
</script>
