<template>
  <Transition
    mode="out-in"
    duration="200"
    enter-active-class="animated flipInX"
    leave-active-class="animated flipOutX"
  >
    <!-- Distance control -->
    <div v-if="!displayFactors" class="row full-width no-wrap justify-evenly">
      <JogBtn
        v-for="(speed, idx) in availableDistances"
        :key="speed"
        color="accent"
        :outline="selectedDistanceIdx !== idx"
        @click="selectDistance(idx)"
      >
        {{ speed * distanceFactor }}
      </JogBtn>
      <div />
      <JogBtn color="accent" icon="straighten" @click="displayFactors = true" />
    </div>

    <!-- Distance factor chooser -->
    <div v-else class="row full-width no-wrap justify-evenly">
      <JogBtn
        v-for="i in 5"
        :key="i"
        color="accent"
        :outline="distanceFactor !== i"
        @click="setDistanceFactor(i)"
        >x{{ i }}</JogBtn
      >
    </div>
  </Transition>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue';

import JogBtn from 'components/JogButton.vue';

interface Props {
  modelValue: number;
}

const _props = defineProps<Props>();
const emit = defineEmits<{
  (e: 'update:modelValue', distance: number): void;
}>();

const availableDistances = [1, 10, 100];
const distanceFactor = ref(1);
const displayFactors = ref(false);
const selectedDistanceIdx = ref(0);

const distance = (): number =>
  availableDistances[selectedDistanceIdx.value] * distanceFactor.value;

onMounted(() => {
  emit('update:modelValue', distance());
});

const selectDistance = (idx: number) => {
  selectedDistanceIdx.value = idx;
  emit('update:modelValue', distance());
};

const setDistanceFactor = (factor: number) => {
  distanceFactor.value = factor;
  displayFactors.value = false;
  emit('update:modelValue', distance());
};
</script>
