<template>
  <div class="row full-width justify-stretch">
    <q-btn
      v-haptic
      v-for="macro in statusStore.macros"
      :key="macro.index"
      color="accent"
      class="col q-ma-md"
      icon="play_arrow"
      :disable="!statusStore.connected"
      @click="executeMacro(macro)"
    >
      {{ macro.name }}
    </q-btn>
  </div>
</template>

<script setup lang="ts">
import { useStatusStore } from 'stores/status';

import { Macro, runMacro } from 'src/fluidnc/macros';

import { vHaptic } from './Directives';
import { notifyError, notifySuccess } from './notifications';

const statusStore = useStatusStore();

const executeMacro = (macro: Macro) => {
  runMacro(macro)
    .then(() => notifySuccess(`Executing macro '${macro.name}'...`))
    .catch((err) => notifyError(`Error executing macro '${macro.name}'`, err));
};
</script>
