<template>
  <q-dialog
    ref="dialogRef"
    :persistent="!serversStore.currentServer?.speed"
    @hide="onDialogHide"
  >
    <GenericFormCard
      title="Vitesses"
      @submit="saveSpeed"
      :cancelDisabled="!serversStore.currentServer?.speed"
    >
      <q-input
        v-model.number="form.speedXY"
        clearable
        type="number"
        label="Speed XY"
        :rules="[validateSpeed]"
      />
      <q-input
        v-model.number="form.speedZ"
        clearable
        type="number"
        stack-label
        label="Speed Z"
        :rules="[validateSpeed]"
      />
    </GenericFormCard>
  </q-dialog>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useDialogPluginComponent } from 'quasar';

import { useServersStore } from 'stores/servers';

import GenericFormCard from 'components/GenericFormCard.vue';

import { notifySuccess } from './notifications';

defineEmits({
  ...useDialogPluginComponent.emitsObject,
});

const serversStore = useServersStore();
const { dialogRef, onDialogHide, onDialogOK } = useDialogPluginComponent();

const form = ref({
  speedXY: serversStore.currentServer?.speed?.speedXY || 1000,
  speedZ: serversStore.currentServer?.speed?.speedZ || 600,
});

// eslint-disable-next-line @typescript-eslint/no-explicit-any
const validateSpeed = (val: any): boolean | string =>
  (Number.isInteger(val) && val > 0) || 'Nombre positif';

const saveSpeed = () => {
  serversStore.updateSpeed(form.value.speedXY, form.value.speedZ);
  notifySuccess('Speed set');
  onDialogOK();
};
</script>
