<template>
  <q-card>
    <q-card-section>
      <div class="text-h6">{{ server.name }}</div>
      <div class="text-caption">{{ server.hostname }}</div>
    </q-card-section>

    <q-card-actions align="right">
      <div class="row no-wrap">
        <q-btn
          dense
          flat
          round
          autofocus
          color="red"
          icon="delete"
          @click.stop="confirmDelete"
        />
        <q-btn
          dense
          flat
          round
          color="secondary"
          icon="edit"
          @click.stop="editServer"
        />
      </div>
    </q-card-actions>
  </q-card>
</template>

<script setup lang="ts">
import { useQuasar } from 'quasar';

import { useServersStore } from 'stores/servers';

import ServersEditDialog from './ServersEditDialog.vue';

import { notifySuccess } from './notifications';
import { Server } from 'src/fluidnc/server';

interface Props {
  server: Server;
}

const props = defineProps<Props>();

const $q = useQuasar();
const serversStore = useServersStore();

const editServer = () => {
  $q.dialog({
    component: ServersEditDialog,
    componentProps: { server: props.server },
  }).onOk(() => {
    notifySuccess('Server updated');
  });
};

const confirmDelete = () => {
  $q.dialog({
    title: 'Confirm',
    message: `Would you like to delete the server ${props.server.name}?`,
    cancel: true,
  }).onOk(() => {
    serversStore.deleteServer(props.server);
  });
};
</script>
