<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide">
    <GenericFormCard
      :title="server ? 'Editer le serveur' : 'Nouveau serveur'"
      @submit="saveServer"
    >
      <q-input
        v-model="form.name"
        label="Nom"
        :rules="[(val) => !!val || 'Field is required']"
      />
      <q-input
        v-model="form.hostname"
        stack-label
        label="IP or hostname"
        placeholder="192.168.1.100"
        :rules="[(val) => !!val || 'Field is required']"
      />
    </GenericFormCard>
  </q-dialog>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { uid, useDialogPluginComponent } from 'quasar';

import { useServersStore } from 'stores/servers';

import { Server } from 'src/fluidnc/server';
import GenericFormCard from './GenericFormCard.vue';

interface Props {
  server?: Server;
}

const props = defineProps<Props>();

defineEmits({
  ...useDialogPluginComponent.emitsObject,
});

const serversStore = useServersStore();
const { dialogRef, onDialogHide, onDialogOK } = useDialogPluginComponent();

const form = ref({
  name: props.server?.name || '',
  hostname: props.server?.hostname || '',
});

const saveServer = () => {
  if (props.server) {
    serversStore.updateServer({
      ...props.server,
      name: form.value.name,
      hostname: form.value.hostname,
    });
  } else {
    serversStore.createServer({
      id: uid(),
      name: form.value.name,
      hostname: form.value.hostname,
    });
  }

  onDialogOK();
};
</script>
