<template>
  <router-view />

  <q-dialog :modelValue="statusStore.connecting" persistent>
    <div class="q-pa-xl no-scroll no-shadow" style="width: 66vw">
      <q-circular-progress
        indeterminate
        rounded
        show-value
        color="accent"
        class="fit"
      >
        <div class="text-h6 text-accent">
          Connecting to server {{ serversStore.currentServer?.name }}...
        </div>
      </q-circular-progress>
    </div>
  </q-dialog>
</template>

<script setup lang="ts">
import { onBeforeUnmount, onMounted } from 'vue';

import { useStatusStore } from 'stores/status';
import { useServersStore } from 'stores/servers';

import { useFluidNCWebSocket } from 'src/fluidnc/websocket';

const serversStore = useServersStore();
const statusStore = useStatusStore();

// Auto connect
onMounted(() => {
  if (serversStore.currentServer)
    serversStore.setCurrentServer(serversStore.currentServer);
});

onBeforeUnmount(() => useFluidNCWebSocket().disconnect());
</script>
