<template>
  <q-layout view="hHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title class="row items-center">
          <PortalTarget name="windowTitle" />
        </q-toolbar-title>

        <PortalTarget name="toolbar" />

        <q-btn
          flat
          round
          :loading="statusStore.connecting"
          :icon="statusStore.connected ? 'public_off' : 'public'"
          @click="
            statusStore.connected
              ? statusStore.disconnect()
              : statusStore.connect()
          "
        />
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" bordered>
      <q-list>
        <q-item-label header>Machines</q-item-label>

        <q-item tag="label" v-ripple>
          <q-item-section>
            <q-select
              :modelValue="serversStore.currentServer"
              :options="serversStore.serversList"
              borderless
              label="Current"
              option-value="id"
              option-label="name"
              @update:modelValue="serversStore.setCurrentServer"
            />
          </q-item-section>
          <q-item-section avatar>
            <q-btn
              flat
              round
              color="accent"
              icon="settings"
              @click.stop="router.push('/servers')"
            />
          </q-item-section>
        </q-item>

        <q-item-label header>Navigation</q-item-label>

        <NavigationLink
          v-for="link in navigationLinks"
          :key="link.title"
          v-bind="link"
          :disable="!serversStore.currentServer"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { useRouter } from 'vue-router';

import { useStatusStore } from 'stores/status';
import { useServersStore } from 'stores/servers';

import NavigationLink, {
  NavigationLinkProps,
} from 'components/NavigationLink.vue';

const router = useRouter();

const leftDrawerOpen = ref(false);
function toggleLeftDrawer() {
  leftDrawerOpen.value = !leftDrawerOpen.value;
}

const statusStore = useStatusStore();
const serversStore = useServersStore();

const navigationLinks: NavigationLinkProps[] = [
  {
    title: 'Jog controller',
    caption: 'Setup and move your machine',
    icon: 'games',
    link: '/jog',
  },
  {
    title: 'Files',
    caption: 'Inspect and start files',
    icon: 'folder',
    link: '/files',
  },
];
</script>
